".source.js, .source.jsx, .source.ts, .source.js-semantic":
	"console.log":
    "prefix": "cl"
    "body": "console.log(${1:obj})"

  "console.warn":
    "prefix": "cw"
    "body": "console.warn(${1:obj})"

  "console.dir":
    "prefix": "cd"
    "body": "console.dir(${1:obj})"

  "console.error":
    "prefix": "ce"
    "body": "console.error(${1:obj})"

  "console.info":
    "prefix": "ci"
    "body": "console.info(${1:obj})"

