".source.js, .source.jsx, .source.ts, .source.js-semantic":
  "assert.deepEqual":
    "prefix": "asd"
    "body": """
    assert.deepEqual(${1:actual}, ${2:expected});
    """

  "assert.equal":
    "prefix": "ase"
    "body": """
    assert.equal(${1:actual}, ${2:expected});
    """

  "assert.notEqual":
    "prefix": "asn"
    "body": """
    assert.notEqual(${1:actual}, ${2:expected});
    """

  "module.exports":
    "prefix": "me"
    "body": """
    module.exports = ${1:name};
    """

  "process.exit":
    "prefix": "pe"
    "body": """
    process.exit(${1:code});
    """

  "require":
    "prefix": "re"
    "body": """
    require('${1:module}');
    """
